
# BEGIN Page Speed Ninja
# As diretrizes (linhas) entre `BEGIN Page Speed Ninja` e` END Page Speed Ninja` são
# geradas dinamicamente e só devem ser modificadas através de filtros do WordPress.
# Quaisquer alterações nas diretivas entre esses marcadores serão sobrescritas.

# END Page Speed Ninja