
/* Circular Std */

@font-face {
    font-family: 'Circular Std';
    src: url('/wp-content/themes/uebb-tendasbrasil/fonts/circular-std-typeface/circular-std-book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('/wp-content/themes/uebb-tendasbrasil/fonts/circular-std-typeface/circular-std-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('/wp-content/themes/uebb-tendasbrasil/fonts/circular-std-typeface/circular-std-bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('/wp-content/themes/uebb-tendasbrasil/fonts/circular-std-typeface/circular-std-black.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}